//CS   http://ugradcalendar.uwaterloo.ca/page/MATH-Bachelor-of-Computer-Science

_Humanities is { //UKRAN new to 2011-2012
	ARTS*, CHINA*, CLAS*, CMW*, CROAT*, DAC*, DRAMA*, DUTCH*, EASIA*, ENGL*, FINE*, FR*, GER*, GRK*, HIST*,
	HUMSC*, ITAL*, ITALST*, JAPAN*, JS*, KOREA*, LAT*, MUSIC*, PHIL*, POLSH*, PORT*, REES*, RS*, RUSS*, SPAN*, SPCOM*, //UKRAN* //UKRAN is not valid course in parser right now
}
_SocialSciences is {
	AFM*, ANTH*, APPLS*, BUS*, ECON*, GEOG*, HRM*, INTST*, INTTS*, ISS*, LS*, MSCI*, NATST*, PACS*, PSCI*, PSYCH*, REC*,
	SMF*, SOC*, SOCWK*, SPD*, STV*, WS*
}
_PureScience is {
	BIOL*, CHEM*, EARTH*, PHYS*, SCI*
}
_Pure_and_AppliedScience is {
	BIOL*, CHEM*, EARTH*, PHYS*, SCI*,
	ARCH*, ENVS*, ERS*, GERON*, HLTH*, KIN*, PLAN*
}

_Math is {
	MATH*, CS*, CO*, AMATH*, PMATH*, STAT*, ACTSC*, MTHEL*, MATBUS*, COMM*, SE*
}

_Comm_ListI is {
	EMLS101R,	//	Oral Communication for Academic Purposes
	EMLS102R,	//	Correction in Academic Writing
	EMLS129R,	//	Written Academic English
	ENGL129R,	//	Written Academic English
	ENGL109,	//	Introduction to Academic Writing 
	SPCOM100,	//	Interpersonal Communication
	SPCOM223	//	Public Speaking
}

_Comm_ListII is {
	_ListI,
	EMLS103R,	//	Phonetics for Effective English Pronunciation
	EMLS104R,	//	Reading and Listening for Academic Purposes 
	EMLS110R,	//	Critical Expression in Canadian Academic Contexts
	ENGL101A,	//	Introduction to Literary Studies
	ENGL101B,	//	Introduction to Rhetorical Studies
	ENGL108D,	//	Digital Lives
	ENGL119,	//	Communications in Mathematics and Computer Science
	ENGL251A,	//	Criticism 1
	SPCOM225,	//	Interviewing
	SPCOM227,	//	Leadership
	SPCOM228	//	Public Communication
}
	
	
_CS_Specific is all of {

	_CS_Specific_Basic_Programming is unique 1 of {
		CS115, 	//	Introduction to Computer Science 1
		CS135	//	Designing Functional Programs
	}
	/*
	_CS_Specific_Elementary_Algorithm is unique 1 of {
		CS_Algorithm_option1 is 1 of { CS136	//	Elementary Algorithm Design and Data Abstraction
		}
		CS_Algorithm_option2 is 1 of { CS145	//	Designing Functional Programs (Advanced Level)
		}
		CS_Algorithm_options3 is unique 1 of {
			CS300-399,
			CS400-499
		}
	}
	*/
	
	_CS_Specific_Calculus_I is unique 1 of {
		MATH127,//	Calculus 1 for the Sciences 
		MATH137,//	Calculus 1 for Honours Mathematics 
		MATH147	//	Calculus 1 (Advanced Level)
	}
	
	_CS_Specific_Calculus_II is unique 1 of {
		MATH128,//	Calculus 2 for the Sciences 
		MATH138,//	Calculus 2 for Honours Mathematics 
		MATH148	//	Calculus 2 (Advanced Level)
	}

	_Algebra is unique 1 of {
		MATH135,//	Algebra for Honours Mathematics 
		MATH145	//	Algebra (Advanced Level)
	}
	
	_Linear_Algebra is unique 1 of {
		MATH136,//	Linear Algebra 1 for Honours Mathematics 
		MATH146	//	Linear Algebra 1 (Advanced Level)
	}
	
	_CS_Specific_Combinatorics is unique 1 of {
		MATH239,//	Introduction to Combinatorics
		MATH249	//	Introduction to Combinatorics (Advanced Level)
	}
	
	
	_CS_Specific_Probability is unique 1 of {
		STAT230,//	Probability
		STAT240	//	Probability (Advanced Level)
	}
	
	_CS_Specific_Statistics is unique 1 of {
		STAT231,//	Statistics 
		STAT241	//	Statistics (Advanced Level)
	}
	
	_CS_Specific_Adv_Algorithms is unique 1 of { //this is new to 2011-2012 year
		CS341, //	Algorithms or 
		CM339  // CM Algorithms 	
	}
	
	_CS_Specific_Core is unique all of {
		CS240, //	Data Structures and Data Management 
		CS241, //	Foundations of Sequential Programs 
		CS245, //	Logic and Computation 
		CS246, //	Object-Oriented Software Development
		CS251, //	Computer Organization and Design
		CS350  //	Operating Systems 
	}

	_CS_Specific_Elective is 3 of {
		//Three additional CS courses chosen from CS 340-398, 440-489
		_CS_Specific_Elective_Lower_Level is unique 3 of {
			CS340-398,
			CS440-489
		}
		
		//Two additional CS courses chosen from CS 440-489.
		_CS_Specific_Elective_Higher_Level is unique 2 of {
			CS440-489
		}
		
		//One additional course chosen from
		_CS_Specific_Elective_Other is unique 1 of {
			CO487,		//	Applied Cryptography 
			CM432,		//CO 487 or CM432 different in 2011-2012
			CS440-498, 
			CS499T, 	//	Honours Thesis 
			STAT440,	//	Computational Inference 
			CM461,		// STAT 440 or CM461 different in 2011-2012
			CS600-699,	// Important unit count course
			CS700-799   // Important unit count course
		}
	}

	//The selection of upper-year CS courses must include at least one course from each of at least two of the following area groups:
	//wtf requirement wording..
	_CS_Topic_Elective is 2 of {
		//Systems and SE: 
		_CS_Topic_Elective_System_SE is 1 of {
			CS343, CS349, CS442, CS444, CS445, CS446, CS447, CS450, CS452, CS454, CS456, CS457, CS458
		}
		
		//Applications: no CS449, CS484, CS485 in 2011-2012 CS483 new
		_CS_Topic_Elective_Applications is 1 of {
			CS348, CS448, CS473, CS476, CS482, CS483, CS486, CS488
		}
		
		//Mathematical Foundations of CS
		_CS_Topic_Elective_Mathematical_Foundations is 1 of {
			CS360, CS365, CS370, CS371, CS462, CS466, CS467, CS475, CS487
		}
	}
	
	_CS_Breath_Depth is all of {
		//1.0 from the humanities
		_CS_Breath_Depth_Humanities is unique 1.0 units of { 
			_Humanities
		}
		
		//1.0 unit from the social sciences
		_CS_Breath_Depth_SocialSciences is unique 1.0 units of {
			_SocialSciences
		}
		
		//0.5 units from the pure sciences
		_CS_Breath_Depth_PureScience is unique 0.5 units of {
			_PureScience
		}
		
		//0.5 units from the pure and applied sciences
		_CS_Breath_Depth_Science is unique 0.5 units of {
			_Pure_and_AppliedScience
		}
		
		//Note: No course can be used to satisfy more than one of the above requirements.
	}
	
	_CS_Other_Electives is 5.0 units of {
		any, except _Math
	}
	
}

_CS_Table1_Coop is all of {
	
	//take one course chosen from List I, and one course chosen from List II
	_CS_Table1_Coop_List_I_II is 2 of {
		_CS_Table1_Coop_List_I is unique 1 of {
			_Comm_ListI
		}
		_CS_Table1_Coop_List_II is unique 1 of {
			_Comm_ListII
		}
	}
	
	_CS_Table1_Coop_Other is 20.0 units of {
		any
	}
	
	_CS_Table1_Coop_NonMath is 5.0 units of {
		any, except _Math
	}
}

